@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    background-color: #235da8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

h2 {
    font-family: 'Satisfy', cursive;
}

span {
    background-color: #235da8;
    border-radius: 20px;
    font-family: 'Roboto Mono', monospace;
}

.results {
    margin-top: 30px;
    text-align: center;
    background-color:#ead395;
    border-radius: 20px;
    width:150px;
    height:fit-content;
}
.board {
    background-image: url('img/beach.jpg');
    background-size: cover;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
    border: solid 7.5px #ead395;
    border-radius: 20px;
}

.net {
    width: 20px;
    background-image: url('img/net.jpg');
    background-size:cover;
    border: solid 1px black;
    border-radius: 20px;
}

.ball {
    border-radius: 100%;
    background-image: url('img/ball.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 700px;
    top: 200px;
}

.raquette {
    position: absolute;
    height: 220px;
    width: 20px;
    margin: 0px;
}

img {
    width: 50px;
    height: 220px;
}


.Rdroite {
    left:975px;
}